
/* Your CSS Code here. */
#button-1{
	background-color:blue;
	font-size:10px;
	height:20px;
	border-radius:5px;
	padding:5px;
	color:white;
	
}
#button-2{
	background-color:white;
	font-size:5px;
	
	height:20px;
	border-radius:5px;
}
#button-3{
	background-color:green;
	font-size:10px;
	height:20px;
	border-radius:5px;
}
#button-4{
	background-color:red;
	font-size:5px;
	height:20px;
	border-radius:5px;
}
#button-5{
	background-color:yellow;
	grid-row-start:100%;
	font-size:10px;
	width:100%;
	height:20px;
	border-radius:5px;
}
#button-6{
	background-color:lightblue;
	font-size:10px;
	height:20px;
	border-radius:5px;
}
#button-7{
	background-color:whitesmoke;
	font-size:10px;
	height:20px;
	border-radius:5px;
}
#button-8{
	background-color:whitesmoke;
	font-size:10px;
	height:20px;
	border-radius:5px;
}